@{
    ViewBag.Title = "Confirm Email Address Sent";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-8">
        Please check your Email, a confirm Email is Sent to @ViewBag.Email.
        If you didn't receive it,Your account will be activated untill the next day or you can send a request to "alirezat@xello.world"
    </div>
</div> 