@model WorldCup2018.Models.GetData
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>World Cup 2018 Russia</h1>
</div>
    <div class="text-center">
        <form>
            <fieldset>
                @foreach (var item in Model.Teams)
                {
                    <div class="row form-group">
                        <div class="col-md-5">
                            <table>
                                <tr>
                                    <td>
                                        <img src="@item.Team1LogoUrl" />
                                        <label style="width:90px;text-align:left">@item.Team1</label>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" size="4" />
                                    </td>
                                </tr>
                            </table>



                        </div>
                        <div class="col-md-5 text-left">
                            <table>
                                <tr>
                                    <td>
                                        <img src="@item.Team2LogoUrl" />
                                        <label style="width:90px;text-align:left">@item.Team2</label>
                                    </td>
                                    <td>
                                        <input type="text" maxlength="2" size="4" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                }
            </fieldset>
            <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
        </form>
    </div>


